.services-container{
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
}
.services{
    display: flex;
    height: 100px;
    align-items: center;
    width: 90%;

}

.logo-img{
    width: 260px;
}
.service-container{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right:1px solid #d3d2d2 ;
    gap: 10px;
}
.service-container:nth-last-child(1){
    border:none
}
.service-icon{
    font-size: 30px;
}
.service-info{
    font-size: 20px;
    font-weight: 700;
}